.carousel {
    width: 98%;
    overflow: scroll;
    padding: 10px 10px;
    position: relative;
    margin: 0;
}
.carousel__container {
    white-space: nowrap;
    margin: 40px 10px;
    padding-bottom: 10px;
}
.carousel__container:hover .carousel-item {
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
    transform: scale(1.3);
    opacity: 1;
}