@media only screen and (max-width: 600px) {
    .main__description--title {
		font-size: 30px;
    }

    .footer {
        padding-top: 20px;
        align-items: flex-start;
        flex-direction: column;
    }
}